.bar input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
    z-index: 1000;
  }
  
  .bar span {
    position: absolute;
    width: 22.5px;
    height: 3.5px;
    background: #f1faee;
    border-radius: 200px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 8.5px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  .bar input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 24px;
    left: 2.5px;
  }
  
  .bar input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 24px;
    bottom: -0.5px;
    box-shadow: 0 0 5px #495057;
  }
  
  .bar input[type]:checked ~ span.middle {
    transform: translateX(-10px);
    opacity: 0;
  }